<p style="color: green"><%= notice %></p>

<h1>Studies</h1>

<!--
<div id="studies">
  <% @studies.each do |study| %>
    <%= render study %>
    <p>
      <%= link_to "Show this study", study %>
    </p>
  <% end %>
</div>

-->

<table id='studies'> <!-- class="table" data-controller="datatable">-->
  <thead>
    <tr>
      <th>ID</th>
      <th>Reference</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= raw display_reference(s) %></td>
      <td><%= raw display_status(s) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New study", new_study_path %>

<%= javascript_tag do %>


  document.addEventListener('DOMContentLoaded', function () {
    let table = new DataTable('#studies')
  });

/*
$(document).ready(function(){
 let table = new DataTable('#studies')
})
*/

/*window.addEventListener('load', 
  function() { 
$("#studies").DataTable()
});
*/
/*window.onload = function() {
$("#studies").DataTable()
}
*/

/*import { Controller } from '@hotwired/stimulus'
 
 export default class extends Controller {
   connect () {
        document.addEventListener('DOMContentLoaded', function () {
        let table = new DataTable('#studies');
     });
   }
 }
*/
//let table = new DataTable('#studies')
//const table = $(this.element.querySelector('studies'))

// prepare options, optional add remote processing (not yet implemented)

//let dtable = $(table).DataTable()
<% end %>
